/* CSS untuk form */
body {
    background-color: #818181;
    margin: 0;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-label {
    flex: 1;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.form-input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    width: 120px;
    margin-right: 10px;
}

.form-group input {
    flex: 1;
    max-width: 100%;
}

.form-group2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group .form-group2 input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group2 select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="number"],
select,
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* CSS untuk topbar */
.topbar {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.topbar h2 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.topbar .insert button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.topbar .insert button:hover {
    background-color: #45a049;
    color: #ffffff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
